@charset "UTF-8";
.ChaZD_result_side_list {
  position: fixed;
  right: 10px;
  top: 5px;
  margin: 0;
  padding: 0;
  width: 250px;
  z-index: 9999999;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.ChaZD_result_container {
  width: 250px;
  background-color: #fffdfa;
  text-align: left;
  color: #0f0f0f;
  padding: 10px;
  margin: 0px;
  opacity: 1;
  border: 2px solid #a3c46e;
  border-radius: 10px;
  z-index: 9999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 2px 2px 2px #C4C4C4;
  -webkit-box-shadow: 2px 2px 2px #C4C4C4; }
  .ChaZD_result_container .title_container {
    background-color: #fffdfa;
    border: none;
    color: #0f0f0f;
    display: block;
    max-width: 100%; }
    .ChaZD_result_container .title_container .title_word {
      position: relative;
      max-width: 100%;
      text-align: left;
      font-size: 18px; }
    .ChaZD_result_container .title_container .title_translation {
      display: none;
      color: #0f0f0f;
      margin-top: 10px; }
  .ChaZD_result_container .basic_container {
    background-color: #fffdfa;
    border: none;
    margin-top: 10px; }
    .ChaZD_result_container .basic_container .phonetic_container div {
      display: inline-block;
      color: red;
      margin-right: 5px; }
    .ChaZD_result_container .basic_container .phonetic_container .uk_phonetic_container:before {
      content: '英';
      color: #0f0f0f;
      font-size: 12px;
      margin-right: 2px; }
    .ChaZD_result_container .basic_container .phonetic_container .us_phonetic_container:before {
      content: '美';
      color: #0f0f0f;
      font-size: 12px;
      margin-right: 2px; }
    .ChaZD_result_container .basic_container .explains_container {
      font-size: 14px;
      margin-top: 10px;
      /*Result Block -- basic container -- explains container*/ }
      .ChaZD_result_container .basic_container .explains_container .explains_list {
        list-style: none;
        margin: 0;
        padding: 0; }
        .ChaZD_result_container .basic_container .explains_container .explains_list li {
          padding: 0px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          margin-bottom: 5px;
          list-style: none;
          font-size: 14px; }
          .ChaZD_result_container .basic_container .explains_container .explains_list li:before {
            display: none; }
      .ChaZD_result_container .basic_container .explains_container .property_container {
        font-weight: bold;
        color: #0f0f0f;
        margin-right: 5px; }
      .ChaZD_result_container .basic_container .explains_container .voice_container {
        display: none; }
  .ChaZD_result_container .web_explains_container .web_title {
    font-weight: bold;
    opacity: 0.7; }
  .ChaZD_result_container .web_explains_container ul {
    list-style: none; }
    .ChaZD_result_container .web_explains_container ul li .web_value {
      margin-left: 5px; }
  .ChaZD_result_container .unshow {
    display: none; }

/*
.ChaZD_result_container .voice_container::after {
  content: '\E803';
  font-family: "YDdict-Icon";
  
  -webkit-transition: color 0.2s linear;
  transition : color 0.2s linear;
}  

.ChaZD_result_container .voice_container:hover {
  color: rgba(119, 110, 101, 1);
}
*/

/*# sourceMappingURL=inPage.css.map */
