@charset "UTF-8";
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ChaZD-result-side {
  position: fixed !important;
  right: 10px;
  top: 80px;
}

.ChaZD-result-container {
  width: 250px;
  overflow: auto;
  text-shadow: none;
  background-color: #ffffdd;
  text-align: left;
  color: #222222;
  padding: 10px;
  margin: 0px;
  opacity: 1;
  border: 1px solid #999999;
  border-radius: 4px;
  z-index: 999997;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  text-decoration: none;
  line-height: normal;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-animation: fade-in 0.3s ease;
  -moz-animation: fade-in 0.3s ease;
  -o-animation: fade-in 0.3s ease;
  animation: fade-in 0.3s ease;
}
.ChaZD-result-container #ChaZD-searching {
  border: none;
  padding: 0;
  margin: 0;
}
.ChaZD-result-container .title-container {
  background-color: #ffffdd;
  border: none;
  color: #222222;
  display: block;
  max-width: 100%;
}
.ChaZD-result-container .title-container .title-word {
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
}
.ChaZD-result-container .title-container .title-word .voice-container {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4y2P4//8/AyUYQhAH3gNxA7IAIQPmo/H3g/QA8XkgFiBkwHyoYnRQABVfj88AmGZcTuuHyjlgMwBZM7IE3NlQGhQe65EN+I8Dw8MLGgYoFpFqADK/YUAMwOsFigORatFIlYRElaRMWmaiBAMAp0n+3U0kqkAAAAAASUVORK5CYII=");
  background-position: bottom center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.ChaZD-result-container .title-container .title-word .voice-container:hover {
  opacity: 1;
}
.ChaZD-result-container .title-container .title-translation {
  display: none;
  color: #222222;
  margin-top: 10px;
}
.ChaZD-result-container .basic-container {
  background-color: #ffffdd;
  border: none;
}
.ChaZD-result-container .basic-container .phonetic-container .uk-phonetic-container, .ChaZD-result-container .basic-container .phonetic-container .us-phonetic-container {
  display: inline-block;
  color: red;
  margin-right: 5px;
}
.ChaZD-result-container .basic-container .phonetic-container .uk-phonetic-container:before {
  content: '英';
  color: #222222;
  font-size: 12px;
  margin-right: 2px;
}
.ChaZD-result-container .basic-container .phonetic-container .us-phonetic-container:before {
  content: '美';
  color: #222222;
  font-size: 12px;
  margin-right: 2px;
}
.ChaZD-result-container .basic-container .explains-container {
  font-size: 14px;
  margin-top: 10px;
  /*Result Block -- basic container -- explains container*/
}
.ChaZD-result-container .basic-container .explains-container .explains-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ChaZD-result-container .basic-container .explains-container .explains-list .explains-item {
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 5px 0;
  list-style: none;
  font-size: 14px;
  background-color: transparent;
}
.ChaZD-result-container .basic-container .explains-container .explains-list .explains-item:before {
  display: none;
}
.ChaZD-result-container .basic-container .explains-container .explains-list .explains-item .property-container {
  display: block;
  float: left;
  font-weight: bold;
  color: #222222;
  margin-right: 5px;
}
.ChaZD-result-container .basic-container .explains-container .explains-list .explains-item .explains-item-value {
  display: block;
  overflow: hidden;
}
.ChaZD-result-container .basic-container .explains-container .voice-container {
  display: none;
}
.ChaZD-result-container .web-explains-container .web-title {
  font-weight: bold;
  opacity: 0.7;
}
.ChaZD-result-container .web-explains-container .web-explains-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.ChaZD-result-container .web-explains-container .web-explains-list li .web-value {
  margin: 0 0 0 5px;
}
.ChaZD-result-container .unshow {
  display: none;
}

.ChaZD-arrow-main {
  position: absolute;
  z-index: 999997;
  -webkit-animation: fade-in 0.3s ease;
  -moz-animation: fade-in 0.3s ease;
  -o-animation: fade-in 0.3s ease;
  animation: fade-in 0.3s ease;
}

.ChaZD-arrow-outer-up, .ChaZD-arrow-outer-down {
  background: transparent;
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 0;
}

.ChaZD-arrow-outer-up {
  border-bottom: 12px solid #999999;
}

.ChaZD-arrow-outer-down {
  border-top: 12px solid #999999;
}

.ChaZD-arrow-inner-up, .ChaZD-arrow-inner-down {
  background: transparent;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 2px;
}

.ChaZD-arrow-inner-up {
  border-bottom: 10px solid #ffffdd;
  top: 2px;
}

.ChaZD-arrow-inner-down {
  border-top: 10px solid #ffffdd;
}

a.ChaZD-link {
  text-decoration: none !important;
  cursor: text !important;
}

/*
.ChaZD-result-container .voice-container::after {
  content: '\E803';
  font-family: "YDdict-Icon";
  
  -webkit-transition: color 0.2s linear;
  transition : color 0.2s linear;
}  

.ChaZD-result-container .voice-container:hover {
  color: rgba(119, 110, 101, 1);
}
*/

/*# sourceMappingURL=inPage.css.map */
