@font-face {
    font-family: "YDdict-Icon";
    src: url("YDdict-Icon-font.eot");
    src: url("YDdict-Icon-font.svg") format("svg"),
         url("YDdict-Icon-font.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}